.body {
    margin: 0;
}

.form {
    width:400px;
    height:300px;
    background-color:rgba(221, 231, 250, 0.3);
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-radius:10px;
    padding:20px;
    margin-top:10px;
    color: rgb(198, 226, 251);
}

.box {
    margin-bottom: 40px;
}
.btn {
    width:100%; 
    height:40px; 
    border-radius:5px;
    border:none;
    background-color:rgba(255,255,255,0.5);
    color:rgb(53, 59, 62);
    font-size:16px
}


.box input{
    width: 380px;
    height:30px; 
    border-radius:5px;
    border:none;
    padding:10px;
    font-size:16px;
    color:rgb(53, 59, 62);
    background-color:rgba(247, 251, 254, 0.3); 
}
