
body{
  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.App {
  margin: auto;

  
  background-image: linear-gradient(70deg, blue, pink);
  
  
  height:100vh;
  display:flex;
  flex-direction: column;  
  align-items: center;
  display: flex;
 
}